*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//****** STYLE GUIDE ******//

//Color palette that I will be using for my website, not all colors will be used

:root{
    --green: #04a777;
    --darkpurple: #291720;
    --byzantium: #820263;
    --rose: #d90368;
    --orange: #f75c03;
}

//////Global font styles//////

@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-regular.ttf);
}

@font-face{
    font-family: 'BebasNeue-Regular', sans-serif;
    src: url(fonts/BebasNeue-Regular.ttf);
}

// font for the headers

h1{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h2{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h3{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

// font for body text

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

//***** Nav Bar *****//
/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    .logo{
        color: white;
    }
    .nav-link{
        list-style: none;
        display: inline-block;
        margin: 15px;
        li{
            padding: 30px 20px;
        }
        a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
    button{
        padding: 9px 25px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 5px var(--green);
        border-radius: 50px;
        color: white;
        text-transform: uppercase;
    }
    button:hover{
        color: var(--green);
        background-color: var(--green);
        transition: all 0.8s ease 0s;
    }
}

//***** Styling for Banner Section *****//

.banner{
    background-image: url(../img/banner-photo.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .showcase{
        padding-top: 35%;
        padding-left: 5%;
        h2{
            font-size: 36px;
            color: white;
        }
        p{
            color: white;
            font-size: 24px;
        }
        button{
            margin-top: 1%;
            padding: 9px 25px;
            background-color: rgba(255, 255, 255, 0);
            border: solid 5px var(--green);
            border-radius: 50px;
            color: white;
            text-transform: uppercase;
        }
        button:hover{
            color: var(--green);
            background-color: var(--green);
            transition: all 0.8s ease 0s;
        }
     }
}

//***** About Section ******//

.about{
    width: 100%;
    height: 60vh;
    .about-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 100px;
        h3{
            font-size:48px;
            margin-top: 8%;
        }
        p{
            font-size: 24px;
            padding-top: 1.5%;
        }
    }
}

//***** Features Collection 1 & 2  *****//
/* Extra notes:
So basically, this page is a features shoe collection
set up, there are going to be 2 rows of shoes to display product
and it has the info underneath each shoe.
I thought it would be cool to give some interactivity
with a hover effect over them, so the shoes scale up
and a box shadow appears as well
*/
.features{
    width: 100%;
    height: 90vh;
    margin-top: 15%;
}
.features-collection{
    //width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .features-card{
        width: 21.5%;
        .card1{
            height: 60%;
            width:90%;
            background-image: url(../img/shoe1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card2{
            height: 60%;
            width:90%;
            background-image: url(../img/shoe2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card3{
            height: 60%;
            width:90%;
            background-image: url(../img/shoe3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card4{
            height: 60%;
            width:90%;
            background-image: url(../img/shoe4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card5{
            height: 60%;
            width:90%;
            background-image: url(../img/shoe5.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .features-card-image:hover{
            transform: scale(1.05);
            box-shadow: 0 0 40px -10px rgba(247, 92, 3, 1);
        }
        .features-card-info{
            padding-top: 10%;
            h3{
                color: var(--orange);
                font-size: 28px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

.features-button{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    button{
        padding: 9px 25px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 5px var(--green);
        border-radius: 50px;
        color: var(--green);
        text-transform: uppercase;
    }
    button:hover{
        color: var(--green);
        background-color: var(--green);
        transition: all 0.8s ease 0s;
    }
}
//***** Features Collection #2  *****//
/* Extra notes:
The collections row 2, I will be adding the
same effects here as row 1 to create a unified
home page with the same styling of elements.
*/

//***** Email Subscription styling *****//
/* Extra notes: 
I created an email subscription option and adjusted the styling
to go along with the rest of the elements on the page,
the button is switched up a little bit to hover green from an 
orange subscription button
 */

.email-email{
    margin-bottom: 15%;
    .email-heading{
        display: flex;
        justify-content: center;
        font-size: 36px;
    }
    .email{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        .email-box{
            width: 50vw;
            padding: 10px;
            border-radius: 5px;
            background: #ececec;
            box-shadow: 5px 5px 40px -10px rgba(247, 92, 3, 1);;
            input{
                font-size: 18px;
                color: #000;
                padding: 15px 10px;
                border: none;
                outline: none;
                background: #ececec;
            }
            button{
                color: #fff;
                padding: 15px 60px;
                font-size: 20px;
                border: none;
                border-radius: 5px;
                background: var(--orange);
                transition: .3s;
                margin-left: 45%;
            }
            button:hover{
                background: var(--green);
            }
        }
    }
}

/* I thought the email by itself was kind of boring,
so I made a email animation with css where 
the entire subscription box goes up and down to add onto effects,
and I will be taking this concept and applying it to 
the collections page for mens and womens shoes*/

.email-animation{
    position: relative;
    animation-name: emaildrop;
    animation-duration: 8s;
    //animation-fill-mode: backwards;
    animation-iteration-count: 16;
    animation-direction: alternate-reverse;
}

@keyframes emaildrop{
    /*from{
        top:0px;
    }
    to{
        top: 50px; 
    }*/
    0%{top:0px;}
    25%{top:35px;}
    50%{top:0px;}
    75%{top:35px;}
    100%{top:0px;}
}


//***** Footer Styling *****//
/* 
Not much to talk about for the footer,
used css flexbox to space out the 4 nav links between each other
I originally had the footer at 90vh but that was pretty excessive
the links are still hovering with the same green hover effect
and the background is black to go along with the header to keep
the page unified
*/

footer{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 10% 10%;
    background-color: black;
    
    .footer-link{
        list-style: none;
        margin: 15px;
        li{
            padding: 30px 20px;
        }
        a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
}















