*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//****** STYLE GUIDE ******//

//Color palette that I will be using for my website, not all colors will be used

:root{
    --green: #04a777;
    --darkpurple: #291720;
    --byzantium: #820263;
    --rose: #d90368;
    --orange: #f75c03;
}

//////Global font styles//////

@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-regular.ttf);
}

@font-face{
    font-family: 'BebasNeue-Regular', sans-serif;
    src: url(fonts/BebasNeue-Regular.ttf);
}

// font for the headers

h1{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h2{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h3{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

// font for body text

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

//***** Nav Bar *****//
/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    .logo{
        color: white;
    }
    .nav-link{
        list-style: none;
        display: inline-block;
        margin: 15px;
        li{
            padding: 30px 20px;
        }
        a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
    button{
        padding: 9px 25px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 5px var(--green);
        border-radius: 50px;
        color: white;
        text-transform: uppercase;
    }
    button:hover{
        color: var(--green);
        background-color: var(--green);
        transition: all 0.8s ease 0s;
    }
}

//***** Banner Section for Mens *****//
/*
Extra notes: using CSS grid here to help align the items more
it might be a little easier using css grid to align items
than using flex box when I want them in a very specific area
 */

.showcase {
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;

    .image1 {
        grid-row: 1/4;
        grid-column: 1/4;
        height:80%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }
    .info{
        grid-column: 4/5;
        grid-row: 2/3;
        padding-top: 5%;

        h3{
            padding-bottom: 30px;
            font-size: 48px;
        } 
    }
}

//***** Features Collection *****//

//***** Features Collection 1 & 2  *****//
/* Extra notes:
This page is another features shoe collection
set up, there are going to be 2 rows of shoes to display product
and it has the info underneath each shoe.
I thought it would be cool to give some interactivity
with a hover effect over them, so the shoes scale up
and a box shadow appears as well. They are also positioned next to each other
*/
.features{
    width: 100%;
    height: 90vh;
    margin-top: 15%;
    .features-title{
        display: flex;
        justify-content: space-between;   
        padding: 0 0 2.5% 2.5%;  
        font-size: 36px;
        opacity: 0.5;
        .title-edit{
            padding-right: 2.5%;
        }
    }
}
.features-collection{
    //width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    //justify-content: space-around;
   .features-card{
        width: 21.5%;
        .card1{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe1.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card2{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe2.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card3{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe3.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card4{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe4.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card5{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe5.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card6{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe6.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card7{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe7.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card8{
            height: 60%;
            width:100%;
            background-image: url(../img/shoe8.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card9{
            height: 60%;
            width:100%;
            background-image: url(../img/mens1.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card10{
            height: 60%;
            width:100%;
            background-image: url(../img/mens2.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .features-card-image:hover{
            transform: scale(1.05);
            box-shadow: 0 0 40px -10px rgba(247, 92, 3, 1);
        }
        .features-card-info{
            padding-top: 10%;
            h3{
                color: var(--orange);
                font-size: 28px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

//***** Features 2 Collection *****//
/*
Extra Notes: Not changing much here, just removing margin from the top;
*/

#features2{
    margin-top: 0;
}

//***** Features Animation *****//
/*
Adding in a section where the shoes will be dropping in,
I thought it was a cool feature to animate so it makes the shoes
seem suspensful almost like the "new shoe drop"
*/
.features{
    position: relative;
    animation-name: shoedrop;
    animation-duration: 8s;
    animation-fill-mode: backwards;
    animation-delay: 4s;
    animation-iteration-count: 2;
}

@keyframes shoedrop{
    from{
        top:0px;
    }
    to{
        top: 75px; 
    }
}

//***** Item Feature *****//
/*
Extra Notes: This will be an item feature section
This was inspired by one of the websites from the 
inspiration part of the project to use feature pieces like this
and a shop now button after a description
*/
.item-feature{
    height: 90vh;
    width: 100%;
    display: flex;
    .item-feature-image{
        width: 40%;
        height: 60%;
        background-image: url(../img/mens5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 15%;
    }
    .item-feature-info{
        margin-left: 5%;
        margin-top: 15%;
        h3{
            font-size: 36px;
        }
        p{
            font-size: 24px;
        }
        button{
            padding: 9px 25px;
            background-color: rgba(255, 255, 255, 0);
            border: solid 5px var(--green);
            border-radius: 50px;
            color: var(--green);
            text-transform: uppercase;
            margin-top: 5%;
        }
        button:hover{
            color: var(--green);
            background-color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
}

//***** Footer Styling *****//
/* 
Not much to talk about for the footer,
used css flexbox to space out the 4 nav links between each other
I originally had the footer at 90vh but that was pretty excessive
the links are still hovering with the same green hover effect
and the background is black to go along with the header to keep
the page unified
*/

footer{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 10% 10%;
    background-color: black;
    
    .footer-link{
        list-style: none;
        margin: 15px;
        li{
            padding: 30px 20px;
        }
        a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
}





