* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green: #04a777;
  --darkpurple: #291720;
  --byzantium: #820263;
  --rose: #d90368;
  --orange: #f75c03;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(fonts/Roboto-regular.ttf);
}

@font-face {
  font-family: 'BebasNeue-Regular', sans-serif;
  src: url(fonts/BebasNeue-Regular.ttf);
}

h1 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  background-color: black;
}

header .logo {
  color: white;
}

header .nav-link {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

header .nav-link li {
  padding: 30px 20px;
}

header .nav-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header .nav-link a:hover {
  color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

header button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px var(--green);
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}

header button:hover {
  color: var(--green);
  background-color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

/*
Extra notes: using CSS grid here to help align the items more
it might be a little easier using css grid to align items
than using flex box when I want them in a very specific area
 */
.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(50px, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.showcase .image1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding-top: 5%;
}

.showcase .info h3 {
  padding-bottom: 30px;
  font-size: 48px;
}
/*# sourceMappingURL=mens.css.map */