*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//****** STYLE GUIDE ******//

//Color palette that I will be using for my website, not all colors will be used

:root{
    --green: #04a777;
    --darkpurple: #291720;
    --byzantium: #820263;
    --rose: #d90368;
    --orange: #f75c03;
}

//////Global font styles//////

@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-regular.ttf);
}

@font-face{
    font-family: 'BebasNeue-Regular', sans-serif;
    src: url(fonts/BebasNeue-Regular.ttf);
}

// font for the headers

h1{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h2{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

h3{
    font-family: 'BebasNeue-Regular', sans-serif;
    letter-spacing: 0.1em;
}

// font for body text

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

//***** Nav Bar *****//
/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    .logo{
        color: white;
    }
    .nav-link{
        list-style: none;
        display: inline-block;
        margin: 15px;
        li{
            padding: 30px 20px;
        }
        a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: var(--green);
            transition: all 0.8s ease 0s;
        }
    }
    button{
        padding: 9px 25px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 5px var(--green);
        border-radius: 50px;
        color: white;
        text-transform: uppercase;
    }
    button:hover{
        color: var(--green);
        background-color: var(--green);
        transition: all 0.8s ease 0s;
    }
}

//***** Banner Section for Mens *****//
/*
Extra notes: using CSS grid here to help align the items more
it might be a little easier using css grid to align items
than using flex box when I want them in a very specific area
 */

.showcase {
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;

    .image1 {
        grid-row: 1/4;
        grid-column: 1/4;
        height:80%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }
    .info{
        grid-column: 4/5;
        grid-row: 2/3;
        padding-top: 5%;

        h3{
            padding-bottom: 30px;
            font-size: 48px;
        } 
    }
}