* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green: #04a777;
  --darkpurple: #291720;
  --byzantium: #820263;
  --rose: #d90368;
  --orange: #f75c03;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(fonts/Roboto-regular.ttf);
}

@font-face {
  font-family: 'BebasNeue-Regular', sans-serif;
  src: url(fonts/BebasNeue-Regular.ttf);
}

h1 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  background-color: black;
}

header .logo {
  color: white;
}

header .nav-link {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

header .nav-link li {
  padding: 30px 20px;
}

header .nav-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header .nav-link a:hover {
  color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

header button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px var(--green);
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}

header button:hover {
  color: var(--green);
  background-color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

/*
Extra notes: using CSS grid here to help align the items more
it might be a little easier using css grid to align items
than using flex box when I want them in a very specific area
 */
.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(50px, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.showcase .image1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding-top: 5%;
}

.showcase .info h3 {
  padding-bottom: 30px;
  font-size: 48px;
}

/* Extra notes:
This page is another features shoe collection
set up, there are going to be 2 rows of shoes to display product
and it has the info underneath each shoe.
I thought it would be cool to give some interactivity
with a hover effect over them, so the shoes scale up
and a box shadow appears as well. They are also positioned next to each other
*/
.features {
  width: 100%;
  height: 90vh;
  margin-top: 15%;
}

.features .features-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 2.5% 2.5%;
  font-size: 36px;
  opacity: 0.5;
}

.features .features-title .title-edit {
  padding-right: 2.5%;
}

.features-collection {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features-collection .features-card {
  width: 21.5%;
}

.features-collection .features-card .card1 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card2 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card3 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card4 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card5 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card6 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe6.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card7 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card8 {
  height: 60%;
  width: 100%;
  background-image: url(../img/shoe8.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card9 {
  height: 60%;
  width: 100%;
  background-image: url(../img/mens1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card10 {
  height: 60%;
  width: 100%;
  background-image: url(../img/mens2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .features-card-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 40px -10px #f75c03;
          box-shadow: 0 0 40px -10px #f75c03;
}

.features-collection .features-card .features-card-info {
  padding-top: 10%;
}

.features-collection .features-card .features-card-info h3 {
  color: var(--orange);
  font-size: 28px;
}

.features-collection .features-card .features-card-info p {
  font-size: 20px;
}

/*
Extra Notes: Not changing much here, just removing margin from the top;
*/
#features2 {
  margin-top: 0;
}

/*
Adding in a section where the shoes will be dropping in,
I thought it was a cool feature to animate so it makes the shoes
seem suspensful almost like the "new shoe drop"
*/
.features {
  position: relative;
  -webkit-animation-name: shoedrop;
          animation-name: shoedrop;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes shoedrop {
  from {
    top: 0px;
  }
  to {
    top: 75px;
  }
}

@keyframes shoedrop {
  from {
    top: 0px;
  }
  to {
    top: 75px;
  }
}

/*
Extra Notes: This will be an item feature section
This was inspired by one of the websites from the 
inspiration part of the project to use feature pieces like this
and a shop now button after a description
*/
.item-feature {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-feature .item-feature-image {
  width: 40%;
  height: 60%;
  background-image: url(../img/mens5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 15%;
}

.item-feature .item-feature-info {
  margin-left: 5%;
  margin-top: 15%;
}

.item-feature .item-feature-info h3 {
  font-size: 36px;
}

.item-feature .item-feature-info p {
  font-size: 24px;
}

.item-feature .item-feature-info button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px var(--green);
  border-radius: 50px;
  color: var(--green);
  text-transform: uppercase;
  margin-top: 5%;
}

.item-feature .item-feature-info button:hover {
  color: var(--green);
  background-color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

/* 
Not much to talk about for the footer,
used css flexbox to space out the 4 nav links between each other
I originally had the footer at 90vh but that was pretty excessive
the links are still hovering with the same green hover effect
and the background is black to go along with the header to keep
the page unified
*/
footer {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 10% 10%;
  background-color: black;
}

footer .footer-link {
  list-style: none;
  margin: 15px;
}

footer .footer-link li {
  padding: 30px 20px;
}

footer .footer-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

footer .footer-link a:hover {
  color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
/*# sourceMappingURL=mens.css.map */