* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green: #04a777;
  --darkpurple: #291720;
  --byzantium: #820263;
  --rose: #d90368;
  --orange: #f75c03;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(fonts/Roboto-regular.ttf);
}

@font-face {
  font-family: 'BebasNeue-Regular', sans-serif;
  src: url(fonts/BebasNeue-Regular.ttf);
}

h1 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'BebasNeue-Regular', sans-serif;
  letter-spacing: 0.1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* This is the styling for the nav bar,
I have the logo on the far left called "UpworkShoes"
the menu is in the center and there is a shop button to the right
the menu items have a green hover to them */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  background-color: black;
}

header .logo {
  color: white;
}

header .nav-link {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

header .nav-link li {
  padding: 30px 20px;
}

header .nav-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header .nav-link a:hover {
  color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

header button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px var(--green);
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}

header button:hover {
  color: var(--green);
  background-color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

/*
Banner section for women's page
*/
.banner {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  margin-bottom: 0;
}

.banner .banner-feature-image {
  width: 40%;
  height: 70%;
  background-image: url(../img/womensbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 15%;
}

.banner .banner-feature-info {
  margin-left: 5%;
  margin-top: 12.5%;
}

.banner .banner-feature-info h3 {
  font-size: 36px;
}

.banner .banner-feature-info p {
  font-size: 24px;
}

.banner .banner-feature-info button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px var(--green);
  border-radius: 50px;
  color: var(--green);
  text-transform: uppercase;
  margin-top: 5%;
}

.banner .banner-feature-info button:hover {
  color: var(--green);
  background-color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.about {
  width: 100%;
  height: 60vh;
}

.about .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 100px;
}

.about .about-info h3 {
  font-size: 48px;
  margin-top: 8%;
}

.about .about-info p {
  font-size: 24px;
  padding-top: 1.5%;
}

/* 
Extra notes: Used embedded iframe tags to put in youtube video.
*/
.video-section {
  width: 100%;
  height: 70vh;
}

.video-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extra notes:
This page is another features shoe collection
set up, there are going to be 2 rows of shoes to display product
and it has the info underneath each shoe.
I thought it would be cool to give some interactivity
with a hover effect over them, so the shoes scale up
and a box shadow appears as well. They are also positioned next to each other
*/
.features {
  width: 100%;
  height: 90vh;
  margin-top: 15%;
}

.features .features-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 2.5% 6%;
  font-size: 36px;
  opacity: 0.5;
}

.features .features-title .title-edit {
  padding-right: 6%;
}

.features-collection {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features-collection .features-card {
  width: 21.5%;
}

.features-collection .features-card .card1 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card2 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card3 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card4 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card5 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .card6 {
  height: 60%;
  width: 100%;
  background-image: url(../img/womens6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-collection .features-card .features-card-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 40px -10px #f75c03;
          box-shadow: 0 0 40px -10px #f75c03;
}

.features-collection .features-card .features-card-info {
  padding-top: 10%;
}

.features-collection .features-card .features-card-info h3 {
  color: var(--orange);
  font-size: 28px;
}

.features-collection .features-card .features-card-info p {
  font-size: 20px;
}

/* 
Not much to talk about for the footer,
used css flexbox to space out the 4 nav links between each other
I originally had the footer at 90vh but that was pretty excessive
the links are still hovering with the same green hover effect
and the background is black to go along with the header to keep
the page unified
*/
footer {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 10% 10%;
  background-color: black;
}

footer .footer-link {
  list-style: none;
  margin: 15px;
}

footer .footer-link li {
  padding: 30px 20px;
}

footer .footer-link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

footer .footer-link a:hover {
  color: var(--green);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
/*# sourceMappingURL=womens.css.map */